@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.base-timer {
  position: relative;
  height: 300px;
  width: 300px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Sets the containers height and width */
.base-timer__label {
    position: absolute;

    /* Size should match the parent container */
    height: max-content;
    /* height: 300px; */
    width: 300px;

    /* Keep the label aligned to the top */
    /* top: 0; */

    /* Create a flexible box that centers content vertically and horizontally */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Font-Size default */
    font-size: 48px;
}

/* Removes SVG styling that would hide the time label */
.base-timer__circle {
    /* fill removes the inside out to the edge */
    fill: none;
    /* stroke is the width of the edge */
    stroke: none;
}

/* The grey background displaying the timer's progress */
.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
}
